language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: "zeroturnaround"
    token:
      secure: "nwp2dncBIEw/jOOuyv5EaUI4BM8W5Ezx62LzCNfVN1a1KnKRWNicJQWIHI4x3ILWvD5WShFzUmQtTIdg3cf3v4rjjMsZyGr7EXJm082k9N6kMkn7wnrIBF2kFDaPo43KGY2YNOX91InpBaZHa6lj3sF6tHcP6Ria90Xeyot5zQ8="
jdk:
  - oraclejdk8
script:
  - ./gradlew sonarqube
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'
